body {
  text-align: center;
}
.section-heading {
  padding: 25px;
  margin: 10px;
}
.rnd-avatar {
  max-height: 100px;
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  border: solid grey 3px;
}
.desc-left {
  text-align: left;
  margin-top: -15px;
}
.short-profile {
  margin-bottom: 20px;
}
.desc-right {
  text-align: right;
  margin-top: -15px;
}
#poll-container {
  margin-top: 50px;
}
.intro {
  padding-bottom: 20px;
}

/* Getting startedd page css starts here */
.answer {
  border: grey solid 2px;
  margin-bottom: 5px;
}
a {
  text-decoration: none;
}
.rnd-btn {
  border: grey solid 2px;
  background: moccasin;
}
.lang-btn {
  text-align: center;
  font-size: 3rem;
}
.button {
  border: 3px grey solid;
  padding: 20px;
  border-radius: 5px;
  background: lightgrey;
}
.lang-img {
  height: 101px;
}
.start-btn {
  font-size: 1.2em;
  padding-top: 3px;
  padding-bottom: 1px;
}
.card {
  border: 2px indigo solid;
  background: lightblue;
  padding: 10px;
  margin: 5px auto;
  border-radius: 10px;
  min-height: 300px;
}
.card-img {
  max-width: 170px;
  max-height: 50px;
}
.bold {
  font-weight: bold;
}